In [1]:
import numpy as np
import pandas as pd

In [2]:
a=10
print(a)

10

In [3]:
a

10

In [4]:
path='D:\DA with Python\Cereal.csv'

In [5]:
path

'D:\\DA with Python\\Cereal.csv'

In [6]:
df=pd.read_csv(path)

In [7]:
df.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4.0,1.0,130.0,10.0,5.0,6.0,280.0,25.0,3.0,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3.0,5.0,15.0,2.0,8.0,8.0,135.0,0.0,3.0,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4.0,1.0,260.0,9.0,7.0,5.0,320.0,25.0,3.0,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4.0,0.0,140.0,14.0,8.0,0.0,330.0,25.0,3.0,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2.0,2.0,200.0,1.0,14.0,8.0,-1.0,25.0,3.0,1.0,0.75,34.384843

In [8]:
df.tail(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110.0,2.0,1.0,250.0,0.0,21.0,3.0,60.0,25.0,3.0,1.0,0.75,39.106174
73,Trix,G,C,110.0,1.0,1.0,140.0,0.0,13.0,12.0,25.0,25.0,2.0,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3.0,1.0,230.0,3.0,17.0,3.0,115.0,25.0,1.0,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3.0,1.0,200.0,3.0,17.0,3.0,110.0,25.0,1.0,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2.0,1.0,200.0,1.0,16.0,8.0,60.0,25.0,1.0,1.0,0.75,36.187559

In [9]:
df.dtypes

name         object
mfr          object
type         object
calories    float64
protein     float64
fat         float64
sodium      float64
fiber       float64
carbo       float64
sugars      float64
potass      float64
vitamins    float64
shelf       float64
weight      float64
cups        float64
rating      float64
dtype: object

In [10]:
df.describe(include="all")

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77,74,74,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
unique,76,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Muesli Raisins,K,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,23,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,105.540541,2.500000,0.945946,160.675676,2.090541,14.594595,6.770270,92.675676,28.378378,2.175676,1.027432,0.818243,42.879265
std,NaN,NaN,NaN,18.442201,1.088546,0.963610,85.188447,2.404002,4.349205,4.467684,70.578065,22.787104,0.833512,0.151260,0.234914,14.280511
min,NaN,NaN,NaN,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,NaN,NaN,NaN,100.000000,2.000000,0.000000,131.250000,0.250000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,32.449210
50%,NaN,NaN,NaN,110.000000,2.000000,1.000000,180.000000,1.500000,14.000000,6.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.424490
75%,NaN,NaN,NaN,110.000000,3.000000,1.000000,217.500000,3.000000,17.000000,10.750000,113.750000,25.000000,3.000000,1.000000,1.000000,51.401243
max,NaN,NaN,NaN,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         74 non-null object
type        74 non-null object
calories    74 non-null float64
protein     74 non-null float64
fat         74 non-null float64
sodium      74 non-null float64
fiber       74 non-null float64
carbo       74 non-null float64
sugars      74 non-null float64
potass      74 non-null float64
vitamins    74 non-null float64
shelf       74 non-null float64
weight      74 non-null float64
cups        74 non-null float64
rating      74 non-null float64
dtypes: float64(13), object(3)
memory usage: 9.8+ KB

In [12]:
df['rating']=df['rating'].astype(float)

In [13]:
df['rating'].dtype

dtype('float64')

In [14]:
#Simple Featire Scaling

In [15]:
df['calories']=df['calories']/df['calories'].max()

In [16]:
df['calories']

0     0.4375
1     0.7500
2     0.4375
3     0.3125
4     0.6875
       ...
72    0.6875
73    0.6875
74    0.6250
75    0.6250
76    0.6875
Name: calories, Length: 77, dtype: float64

In [17]:
#Z-score

In [18]:
df['calories']=(df['calories']-df['calories'].mean())/df['calories'].std()

In [19]:
df['calories']

0    -1.927131
1     0.784042
2    -1.927131
3    -3.011600
4     0.241807
        ...
72    0.241807
73    0.241807
74   -0.300427
75   -0.300427
76    0.241807
Name: calories, Length: 77, dtype: float64

In [20]:
#Binning

In [21]:
bins=np.linspace(min(df['calories']),max(df['calories']),4)
group_names=['low','medium','high']
df['calories-binned']=pd.cut(df['calories'],bins,labels=group_names,include_lowest=True)

In [22]:
df['calories-binned']

0        low
1     medium
2        low
3        low
4     medium
       ...
72    medium
73    medium
74    medium
75    medium
76    medium
Name: calories-binned, Length: 77, dtype: category
Categories (3, object): [low < medium < high]

In [23]:
#Converting categorical var to dummy var

In [24]:
pd.get_dummies(df['calories-binned'])

calories-binned  low  medium  high
0                  1       0     0
1                  0       1     0
2                  1       0     0
3                  1       0     0
4                  0       1     0
..               ...     ...   ...
72                 0       1     0
73                 0       1     0
74                 0       1     0
75                 0       1     0
76                 0       1     0

[77 rows x 3 columns]

In [25]:
import pandas as pd
df=pd.DataFrame({'A':[2,3,5], 'B':[4,6,10]})
print(df.set_index('A').columnsumns)

AttributeError: 'DataFrame' object has no attribute 'columnsumns'

In [ ]:
import numpy as np
a=np.array([5,7,3,1])
b=np.array([90,50,0])
c=a*b
print(c)

In [ ]:
a=True
b=False
c=False
if not a or b:
    print("COrrect Answer")
elif not a or not b and c:
    print('Maybe correct ans')
elif not a or b or not b and a:
    print('maybe worng answer')
else:
    print('wrong ans')